.header{
    background-image:url("images/code.png");
    color:white;
    height: 450px;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    width:100%;
    text-align: center;
    padding:10% 20%;
}
.header>a{
text-decoration: none;
color:white;
padding: 20px 30px;
background-color: #333;
margin: auto;
}
.header>a:hover{
    background-color: #ddd;
    color:black;
}
*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
}

.news{
    column-width:300px;
    column-count: 2;
}
.desc-1{
    text-align: center;
    padding: 30px;
    background-color: #ddd;
}
.desc-2{
    text-align: center;
    padding: 30px;
}
.tiles{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    background-color: #333;
    padding: 30px;
    grid-gap:30px;
}
.t-img{
    max-width:100%;
    padding: 30px;
}
.t-1,.t-2,.t-3{
    background-color: white;
    padding: 20px;
}
.details{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    color:white;
}
.d-1{
    background-color: #2690d4;
    display: grid;
    padding: 30px;
    height:300px;
}
.d-2{
    background-color: #333;
    display: grid;
    height: 300px;
    padding: 30px;
}
.d-3{
    background-color: #111;
    background-color: #111;
}
